<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phelat.tedu.analytics">

    <application>

        <service
            android:name=".TeduFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

    </application>

</manifest>
